html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;           /* prevent scrollbars */
}

body {
  background-image: url("/website-bg.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; /* stretch to fill width and height */
}
