/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

/* FULL-STRETCH BACKGROUND GIF */
body {
  background-color: black;
  background-image: url("website-bg.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* stretches to fill screen */
}

/* Fixed logo top-left, slightly bigger (~10% bigger) */
.logo {
  position: fixed;
  top: 10px;       /* distance from top */
  left: 10px;      /* distance from left */
  width: 33px;     /* 10% bigger than previous 30px */
  height: auto;
  pointer-events: none; /* unclickable */
  z-index: 10;          /* above background */
}
